.container-home {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
}

.foto-boas-vindas {
  margin-bottom: 20px;
}

.container-foto {
  position: relative;
  display: inline-block;
}

.foto-professor {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.h2 {
  font-size: 24px;
  color: #333;
}

.input-foto {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.container-botoes {
  display: flex;
  justify-content: center;
  gap: 20px; 
  margin-bottom: 30px;
  flex-direction: row; 
}

.botao-chamadas-antigas,
.botao-gerar-chamada {
  width: 45%; 
  padding: 16px 32px;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.botao-chamadas-antigas {
  background-color: #0F6FC5 !important;
  color: #fff;
  border: none;
}

.botao-chamadas-antigas:hover {
  background-color: #0b4e85;
}

.botao-gerar-chamada {
  background-color: #2E7D32 !important;
  color: #fff !important;
  border: none;
}

.botao-gerar-chamada:hover {
  background-color: #206923 !important;
}

.cartao {
  font-family: 'Roboto', sans-serif;
  width: 90%;
  max-width: 600px;
  margin: 20px auto;
  padding: 30px;
  border-radius: 10px;
  background-color: #f9f9f9 !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  text-align: center;
}

.conteudo-cartao {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.grupo-botoes {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.botao-confirmar,
.botao-cancelar {
  width: 80%;
  max-width: 300px;
  margin-top: 16px;
  padding: 16px 32px;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.botao-confirmar {
  background-color: #2E7D32 !important;
  color: #fff !important;
  border: none;
}

.botao-confirmar:hover {
  background-color: #206923 !important;
}

.botao-cancelar {
  background-color: #d32f2f !important;
  color: #fff !important;
  border: none;
}

.botao-cancelar:hover {
  background-color: #c12e2a !important;
}

.mensagem-erro {
  color: red !important;
  font-size: 16px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .cartao {
    max-width: 100%;
  }

  .container-botoes {
    flex-direction: column;
    gap: 20px;
  }
}
