.container-pagina {
  padding: 20px;
  background-color: #d9d9d9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 50px; 
  margin-right: 50px; 
  margin-top: 50px;
}

.titulo-pagina {
  font-size: 2.2rem; 
  margin-bottom: 16px;
}

.alerta-erro {
  margin-bottom: 16px;
}

.container-tabela {
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.container-tabela table {
  width: 100%;
  font-size: 1.1rem; 
}

.botao-voltar {
  margin-top: 20px !important;
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 16px;
  background-color: #d32f2f !important;
  color: #f9f9f9 !important;
  transition: background-color 0.3s ease;
}

.botao-voltar:hover {
  background-color: #c12e2a!important;
}
